<ion-header>

  <ion-navbar>
    <ion-title>Edit user info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <div class="profile">
      <a (click)="edit()">
        <img class="edit_img" src="../assets/imgs/Users-Edit-User-icon.png" width="20px" height="20px" alt="">
      </a>
  </div> -->
  <!-- <ion-label color="primary" floating>Felhasználó azonosító</ion-label>  -->
  <!-- <ion-label color="primary" stacked>Felhasználó azonosító</ion-label> -->
  <ion-list>  
    <ion-label color="primary">Felhasználó azonosító</ion-label>
    <ion-item>
      <ion-input placeholder="Felhasználó név..." [(ngModel)]="username"></ion-input>
    </ion-item>
  </ion-list>
    
  <ion-label color="primary">Nem</ion-label>
  <ion-list radio-group [(ngModel)]="gender">
    <ion-item>
      <ion-label>Férfi</ion-label>
      <ion-radio value="m" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Nő</ion-label>
      <ion-radio value="f"></ion-radio>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="updateData()">Mentés</button>
</ion-content>
