<!-- Generated template for the UserCardComponent component -->
<div class="profile">
  <div class="profile_img">
    <img [src]="user.profilepicture !== '' && user.profilepicture !== undefined ? user.profilepicture : '../../assets/imgs/img_avatar_' + (user.gender === 'f' ? 'f' : 'm') + '.png'"
      width="150px" height="150px" alt="">
  </div>
  <div class="profile_username">
    {{ user.username }}
    <a (click)="edit()">
      <img class="edit_img" src="../../assets/imgs/Users-Edit-User-icon.png" width="20px" height="20px" alt="">
    </a>
  </div>
</div>
