user-card {
    img {
        border-radius: 50%;
    }

    .profile {
        width: 80%;
        font-size: 16px;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center;
    }

    .profile_img {
        background: rgb(79, 83, 71);
        padding: 20px; 
        width: 200px;
        height: 150px;
    }

    .profile_username {
        margin-top: 20%;
    }

    .edit_img {
        margin-left: 5px;
    }
}
