<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Aktuális</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button block clear (click)="logOut()">
    Log out
  </button>
</ion-content>